.custom-card {
  background-color: rgba(228, 228, 228, 0.8);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: #000;
  text-align: center;
  width: 100%;
  font-size: 24px;
}
