<div class="app-container">
  <router-outlet></router-outlet>

  <footer class="footer text-center">
    <div class="social-links">
      <a href="https://www.facebook.com" class="mx-2">Facebook</a>
      <a href="https://www.youtube.com" class="mx-2">YouTube</a>
      <a href="https://www.instagram.com" class="mx-2">Instagram</a>
      <a href="https://www.twitter.com" class="mx-2">Twitter</a>
    </div>
    <div class="copyright">
      © 2020 Copyright: <a href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
</div>
